body {
  padding: 0;
  margin: 0;
  background-color: whitesmoke;
  font-family: "Roboto Slab";
}

input {
  border: none;
  outline: none;
  background-color: #e9ecef;
  width: 100%;
}

#header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(62, 87, 93);
  height: 100px;
  align-items: baseline;
  align-items: center;
  color: whitesmoke;
}
#header #logo {
  margin-left: 145px;
  cursor: pointer;
}
#header #hamburger {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin-right: 158px;
  cursor: pointer;
}
#header #hamburger h4 {
  cursor: auto;
  font-weight: 100;
  padding-right: 20px;
}
#header #hamburger #fox:hover, #header #hamburger #thanks:hover, #header #hamburger #spanish:hover {
  cursor: pointer;
  font-weight: bold;
}

#play {
  display: flex;
  justify-content: center;
  padding: 25px 0px 25px 0px;
}
#play h1 {
  font-family: "Ride The Fader";
  font-weight: bold;
  font-size: 50px;
}

#container1 {
  background-color: white;
  padding: 20px 10px 5px 10px;
  margin-bottom: 50px;
  border-bottom: 5px solid #343a40;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}
#container1 table #title {
  width: 15%;
  max-width: 15%;
}
#container1 table #totals {
  width: 10%;
}
#container1 table #totals:hover {
  cursor: pointer;
}
#container1 table #player1, #container1 table #player2, #container1 table #player3, #container1 table #player4 {
  cursor: pointer;
}

#container2 {
  background-color: white;
  padding: 20px 10px 5px 10px;
  margin-bottom: 50px;
  border-bottom: 5px solid #343a40;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}
#container2 table #title {
  width: 15%;
  max-width: 15%;
}
#container2 table #totals {
  width: 10%;
}
#container2 table #totals:hover {
  cursor: pointer;
}
#container2 table #card2player1total, #container2 table #card2player2total, #container2 table #card2player3total, #container2 table #card2player4total {
  cursor: pointer;
}

.carousel-control-next, .carousel-control-prev {
  bottom: 0px;
  width: 10.5%;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: rgb(62, 87, 93);
  border-radius: 5px;
  height: 45px;
  padding: 15px;
  transform: scale(1.5);
}

@media (max-width: 750px) {
  #header {
    display: flex;
    justify-content: space-between;
  }
  #header #logo {
    margin-left: 25px;
  }
  #header #logo h1 {
    font-size: 30px;
  }
  #header #hamburger {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
  }
  #header #hamburger h4 {
    font-size: 10px;
  }
  #header #hamburger #select {
    padding-bottom: 2px;
    border-bottom: 0.5px solid white;
  }
  #header #hamburger #fox, #header #hamburger #thanks, #header #hamburger #spanish {
    padding-left: 15px;
  }
  #play {
    display: block;
    text-align: center;
  }
  #play h1 {
    font-size: 40px;
  }
  #container1 {
    padding: 20px 0px 5px 0px;
  }
  #container1 table td, #container1 table th, #container1 table #title, #container1 table #totals, #container1 table #yardTotal, #container1 table #parTotal {
    font-size: 10px;
  }
  #container2 {
    padding: 20px 0px 5px 0px;
  }
  #container2 td, #container2 th, #container2 #title, #container2 #totals, #container2 #yardTotal, #container2 #parTotal {
    font-size: 10px;
  }
  input {
    width: 150%;
    font-size: 13px;
  }
  .carousel-control-next, .carousel-control-prev {
    bottom: 500px;
  }
  .carousel-control-next-icon, .carousel-control-prev-icon {
    height: 30px;
    padding: 10px;
    transform: scale(1);
  }
}

/*# sourceMappingURL=style.css.map */
