body {
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
    font-family: "Roboto Slab";
}
input {
    border: none;
    outline:none;
    background-color: #e9ecef;
    width: 100%;
}
#header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(62, 87, 93);
    height: 100px;
    align-items: baseline;
    align-items: center;
    color: whitesmoke;
    #logo {
        margin-left: 145px;
        cursor: pointer;
    }
    #hamburger {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        margin-right: 158px;
        cursor: pointer;
        h4 {
            cursor:auto;
            font-weight: 100;
            padding-right: 20px;
        }
        #fox:hover, #thanks:hover, #spanish:hover {
            cursor: pointer;
            font-weight: bold;
        }
    }
}
#play {
    display: flex;
    justify-content: center;
    padding: 25px 0px 25px 0px;
    h1 {
        font-family: "Ride The Fader";
        font-weight: bold;
        font-size: 50px;
    }
}
#container {
    background-color: white;
    padding: 20px 10px 5px 10px;
    margin-bottom: 50px;
    border-bottom: 5px solid #343a40;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
    table {
        #title {
            width: 15%;
            max-width: 15%;
        }
        #totals {
            width: 10%;
        }
        #totals:hover {
            cursor: pointer;
        }
        #playerName {
            cursor: pointer;
        }
    } 
}

@media(max-width: 750px){
    #header {
        display: flex;
        justify-content: space-between;
        #logo {
            margin-left: 25px;
            h1 {
                font-size: 30px;
            }
        }
        #hamburger {
            display:flex;
            flex-direction: column;
            margin-right: 25px;
            h4 {
                font-size: 10px;
            }
            #select {
                padding-bottom: 2px;
                border-bottom: 0.5px solid white;
            }
            #fox, #thanks, #spanish {
                padding-left: 15px;
            }
        }
    }
    #play {
        display:block;
        text-align: center;
        h1 {
            font-size: 40px;
        }
    }
    #container {
        padding: 20px 0px 5px 0px;
        table {
            td, th, #title, #totals, #yardTotal, #parTotal {
                font-size: 10px;
            }
        } 
    }
    input {
        width: 150%;
        font-size: 13px;
    }
}