body {
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
    font-family: "Roboto Slab";
}
input {
    border: none;
    outline:none;
    background-color: #e9ecef;
    width: 100%;
}
#header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(62, 87, 93);
    height: 100px;
    align-items: baseline;
    align-items: center;
    color: whitesmoke;
    #logo {
        margin-left: 145px;
        cursor: pointer;
    }
    #hamburger {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        margin-right: 158px;
        cursor: pointer;
        h4 {
            cursor:auto;
            font-weight: 100;
            padding-right: 20px;
        }
        #fox:hover, #thanks:hover, #spanish:hover {
            cursor: pointer;
            font-weight: bold;
        }
    }
}
#play {
    display: flex;
    justify-content: center;
    padding: 25px 0px 25px 0px;
    h1 {
        font-family: "Ride The Fader";
        font-weight: bold;
        font-size: 50px;
    }
}
#container1 {
    background-color: white;
    padding: 20px 10px 5px 10px;
    margin-bottom: 50px;
    border-bottom: 5px solid #343a40;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
    table {
        #title {
            width: 15%;
            max-width: 15%;
        }
        #totals {
            width: 10%;
        }
        #totals:hover {
            cursor: pointer;
        }
        #player1, #player2, #player3, #player4 {
            cursor: pointer;
        }
    } 
}
#container2 {
    background-color: white;
    padding: 20px 10px 5px 10px;
    margin-bottom: 50px;
    border-bottom: 5px solid #343a40;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
    table {
        #title {
            width: 15%;
            max-width: 15%;
        }
        #totals {
            width: 10%;
        }
        #totals:hover {
            cursor: pointer;
        }
        #card2player1total, #card2player2total, #card2player3total, #card2player4total {
            cursor: pointer;
        }
    } 
}
.carousel-control-next, .carousel-control-prev {
    bottom: 0px;
    width: 10.5%;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color:rgb(62, 87, 93);
    border-radius: 5px;
    height: 45px;
    padding: 15px;
    transform: scale(1.5);
}
#end {
    position: absolute;
    #endGame {
        position:relative;
        bottom: 650px;
        left: 150px;
        cursor: pointer;
        padding: 20px;
        color: whitesmoke;
        background-color: crimson;
        border: none;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
        outline: none;
    }
    #endGame:hover {
        padding: 21px;
        background-color: rgb(241, 69, 103);
    }
}
@media(max-width: 950px){
    #header {
        display: flex;
        justify-content: space-between;
        #logo {
            margin-left: 25px;
            h1 {
                font-size: 30px;
            }
        }
        #hamburger {
            display:flex;
            flex-direction: column;
            margin-right: 25px;
            h4 {
                font-size: 10px;
            }
            #select {
                padding-bottom: 2px;
                border-bottom: 0.5px solid white;
            }
            #fox, #thanks, #spanish {
                padding-left: 15px;
            }
        }
    }
    #play {
        display:block;
        text-align: center;
        h1 {
            font-size: 40px;
        }
    }
    #container1 {
        padding: 20px 0px 5px 0px;
        table {
            td, th, #title, #totals, #yardTotal, #parTotal {
                font-size: 10px;
            }
        } 
    }
    #container2 {
        padding: 20px 0px 5px 0px;
        td, th, #title, #totals, #yardTotal, #parTotal {
            font-size: 10px;
        }
    }
    input {
        width: 150%;
        font-size: 13px;
    }
    .carousel-control-next, .carousel-control-prev {
        bottom: 700px;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon {
        height: 30px;
        padding: 10px;
        transform: scale(1);
    }
    #end{
        #endGame {
            bottom: 25px;
            left: 175px;
            padding: 9px;
        }
        #endGame:hover {
            padding: 9px;
        }

    }

}