body {
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
}
input {
    border: none;
    outline:none;
    background-color: #e9ecef;
    width: 100%;
}
#header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(62, 87, 93);
    height: 100px;
    align-items: baseline;
    align-items: center;
    color: whitesmoke;
    #logo {
        margin-left: 145px;
        cursor: pointer;
    }
    #hamburger {
        margin-right: 158px;
        cursor: pointer;
        svg {
            transform: scale(2.5);
        }
    }
}
#play {
    display: flex;
    justify-content: center;
    padding: 25px 0px 50px 0px;
    h1 {
        font-family: "Ride The Fader";
        font-size: 50px;
    }
}
.addNewPlayer {
    position: absolute;
    #addPlayer {
        position: relative;
        bottom: 45px;
        left: 150px;
        padding: 5px 20px 5px 20px;
        font-size: 18px;
        margin-bottom: 5px;
        color: white;
        background-color: #343a40;
        border: none;
        outline: none;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
    }
    #addPlayer:hover {
        padding: 6px 21px 6px 21px;
        text-align: center;
        animation-duration: 5s;
    }
}
#container {
    background-color: white;
    padding: 20px 10px 5px 10px;
    border-bottom: 5px solid #343a40;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
    table {
        #title {
            width: 15%;
            max-width: 15%;
        }
        #totals {
            width: 10%;
        }
    } 
    #yardTotal, #parTotal {
        cursor: pointer;
    }
}

@media(max-width: 750px){
    #header {
        display: flex;
        justify-content: space-between;
        #logo {
            margin-left: 25px;
        }
        #hamburger {
            margin-right: 25px;
        }
    }
    #play {
        padding: 25px 0px 50px 0px;
        h1 {
            font-size: 40px;
        }
    }
    .addNewPlayer {
        #addPlayer {
            left: 185px;
            font-size: 15px;
        }
    }
    #container {
        padding: 20px 0px 5px 0px;
        table {
            td, th, #title, #totals, #yardTotal, #parTotal {
                font-size: 13px;
            }
            #yardTotal, #parTotal {
                padding-left: 15px;
            }
        } 
    }
    input {
        width: 260%;
        font-size: 13px;
    }
}